#test {
    display: block;
}

#weather_info {
    display: block;
}

#fun_fact {
    display: block;
}

#nyt_result {
    display: block;
}

#twitter {
    display: block;
}

#nasa {
    display: block;
}

#settings {
    display: none;
    border: 1px solid black;
    background-color: rgb(180, 179, 179);
}

.center {
    text-align: center;
}

.button {
    margin: 5px;
}