<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
</head>

<body>
    <div id="nav">
        <a href="{{ url_for('home') }}"> Home</a>
        <a href="{{ url_for('users_entries') }}"> Entries</a>
        <a href="{{ url_for('settings') }}"> Settings</a>
        <a href="{{ url_for('signout') }}"> Log Out</a>
    </div>
    <h1>Hello, {{user}}</h1>

    <div id="weather_info" style="border:1px solid black;">
    <h3>Weather</h3>
        <p>{{ weather_info['city'] }}, {{ weather_info['country'] }}</p><p> {{ weather_info['weather'] }}</p> <p>{{ weather_info['fahrenheit'] }}</p>
    </div>

    <div id="fun_fact" style="border:1px solid black;">
    <h3>Fun Facts</h3>
        {{fun_fact}}

    </div>

    <div id="nyt_result" style="border:1px solid black;">
    <!----TODO---->
    <!----Fix formating on NYT API Lists Print With "(" AND NEED TO HREF LINKS ---->
    <h3>Top NYT Articles</h3>
         {% for row in nyt %}
         <p>{{ row }}</p>
     {% endfor %}
    </div>

    <div class="twitter" style="border:1px solid black;">

        <h3>Trending</h3>
        <!----TODO---->
        <!----Fix formating on Twitter API trends Print With "(" AND NEED TO HREF LINKS ---->
        {% for tweet in twitter_trends %}
            <p>{{ tweet }}</p>
        {% endfor %}
    </div>

    <div class ="nasa" style="border:1px solid black;">
        <h3> Nasa Image of the Day</h3>
        <img src= "{{nasa['picture'] }}" width="250">
        <br>
        {{ nasa['explanation'] }}
        </div>


    <div id="maincontent">
    <h3>Journal Entry</h3>
        <form action="/add_entry" method="POST">
            <input type="text" placeholder="Title" name="title">
            <input type="text" placeholder="How are you feeling today?" name="entry">
            <input type="submit" value="Post">
        </form>
        <!-- next add task form -->
    </div>

</body>

</html>