<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
</head>

<body>
    <div id="nav">
        <a href="{{ url_for('home') }}"> Home</a>
        <a href="{{ url_for('users_entries') }}"> Entries</a>
        <a href="{{ url_for('settings') }}"> Settings</a>
        <a href="{{ url_for('signout') }}"> Log Out</a>
    </div>
    <h1>Hello, {{user}}</h1>

    <div id="weather_info">
        <p>{{ weather_info['city'] }}, {{ weather_info['country'] }}</p>
        <p> {{ weather_info['weather'] }}</p>
        <p>{{ weather_info['fahrenheit'] }}</p>
    </div>

    <div id="maincontent">
        <form action="/addentry" method="POST">
            <input type="text" placeholder="Title" name="title">
            <input type="text" placeholder="How are you feeling today?" name="entry">
            <input type="submit" value="Post">
        </form>
    </div>
        <!-- next add task form -->

    <div id ="add_task_list"> 
        <form action= "/home" method="POST">
            <label for="task_form">Create New Task List!</label><br>
            <input type = "text" placeholder = "Create New Task List" name = "task_list_title">
            <input type="submit" value ="Add">
        </form>
    
    </div>
    <h3>Here are your current task lists!</h3> 

    <div class="task_list_display">
        {% for task_lists in range(all_task_lists) %}
            <p>{{task_lists}}</p>
        {% endfor %}
    </div>

    <div id = "edit_task_lists">
        <form action = "/home" method = "POST">
            <input type = "submit" value = "x" name = "delete_task_list">
            <input type = "submit" value = "+" name = "add_task">
            <input type = "text" placeholder="Input New Task" name = "task_entry">
        </form>
    </div>
   
    
</body>

</html>