<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <b>{{ message }}</b>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <br><br>

    <h1> Please enter your email, then create a unique username and password" </h1>
    <form action="/signup" method="POST">
        <input type="text" placeholder="Email" name="email">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="pass">
        <input type="submit" value="Register">
    </form>
</body>

</html>